@font-face {
    font-family: ThinkingOfBetty;
    src: url('../fonts/ThinkingOfBetty.eot?') format('eot');
    src: url('../fonts/ThinkingOfBetty.ttf') format('truetype');
    src: url('../fonts/ThinkingOfBetty.woff') format('woff');
    font-style: normal;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.wrapper {
    background: rgb(255, 187, 0) url(../images/pictures/eagle.png) no-repeat center bottom/cover;
    width: 100%;
    height: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 65px;
    margin-top: 25px;
    margin-left: 360px;
    margin-right: 360px;
}
nav a {
    color: #fff;
}
.logo {
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.logo a:hover {
    box-shadow: 2px 2px 2px red;
}
.logo a:active {
    box-shadow: 2px 2px 2px #fce38a;
}
ul  {
    display: flex;
    justify-content: space-around;
    width: 620px;
}
ul li {
    color: #fff;
    list-style-type: none;
    font-family: 'Coda', cursive;
    font-size: 14px;
    text-transform: uppercase;
}
ul li a:link {
    color: white;
}
/* ul li a:visited {
    color: yellow;
} */
ul li a:hover {
    color: #fce38a;
}
ul li a:active {
    width: 50px;
    height: 3px;
    border-bottom: 4px solid #fce38a;
    margin-top: 10px;
}
ul li:nth-last-child(2):hover {
    border-bottom: 4px solid #fce38a
} 
ul li:last-child:hover {
    border-bottom: 4px solid #fce38a
} 
.menu {
    text-align: center;
}
/* .menu a {
    color: #fce38a;
} */
/* .menu hr {
    height: 3px;
    background-color: #fce38a;
    width: 50px;
} */
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.heading hr {
    background-color:white;
    width: 60px;
    height: 3px;
    margin: 50px 0;
}
h2 {
    color: #fff;
    font-family: ThinkingOfBetty, Verdana, sans-serif;
    font-size: 72px;
    font-weight: normal;
}
.important {
    width: 730px;
    height: 260px;
}
h1 {
    color: #fff;
    font-size: 150px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    line-height: 1em;
    text-align: center;
}
.btn-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    border: 3px solid white ;
}
.btn-box a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.btn-box:link {
    color: white;
}
.btn-box:hover {
    color: #f38181;
    border: 3px solid #f38181;
}
.btn-box a:link {
    color: white;
}
.btn-box a:hover {
    color: #f38181;
    box-shadow: 0 0 10px #f38181;
}
article {
    height: 710px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
} 
.subtitle1 {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-top: 90px;
    margin-bottom: 115px;
}
.subtitle1 p:target {
    width: 60px;
    height: 4px;
    border-bottom: 4px solid #f38181;
    margin-top:  45px;
}
h4 {
    font-family: ThinkingOfBetty, Verdana, sans-serif;
    font-size: 24px;
    font-weight: normal;
}
h3 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.service {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.box {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.box a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    margin-bottom: 20px;
}
.box figure {
    margin: 0 25px;
}
.box a:link {
    color: black;
}
/* .box a:visited {
    color: yellow;
} */
.box a:hover {
    color: #95e1d3;
}.box a:active {
    color: #f38181;
}
.box p {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
.pointer {
    background-color: #999999;
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.chapter {
    width: 100%;
    height: 270px;
    display: flex;
    justify-content: center;
    background-color: #95e1d3;
    margin-top: 140px;
}
.box1 {
    width: 240px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #95e1d3;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.box1 p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}
.box1 p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.box2 {
    width: 240px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #95e1d3;
    border-right: 1px solid white;
}
.box2 p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}
.box2 p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.box3 {
    width: 240px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #95e1d3;
    border-right: 1px solid white;
}
.box3 p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}
.box3 p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.box4 {
    width: 240px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #95e1d3;
    border-right: 1px solid white;
}
.box4 p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}
.box4 p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.box5 {
    width: 240px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #95e1d3;
    border-right: 1px solid white;
}
.box5 p:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 72px;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
}
.box5 p:last-child {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.gallery {
    width: 100%;
    height: 1200px;
}
.subtitle2 {
    height: 420px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: black;
}
.subtitle2 h2:target {
    width: 60px;
    height: 4px;
    color: tomato;
    border-bottom: 4px solid #f38181;
    margin-top:  40px;
}
.text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
.text p {
    width: 950px;
    text-align: center;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 0px;
}
.drawings {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
}
.container {
    width: 100%;
    height: 390px;
}
.img-box1 img {
    display: block;
    width: 100%;
    height: 390px;
}
.img-box2 img {
    display: block;
    width: 100%;
    height: 780px;
}
footer {
    width: 100%;
    height: 560px;
}
.info {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.block1 {
    width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.discription1 {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 40px
}
.discription1 figure {
    margin-bottom: 30px;
}
.discription1 img:hover {
    border-bottom: 4px solid;
    border-color: #CCCCCC;
}
.signature {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
}
.signature span:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: black;
}
.item {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    min-width: 70px;
}
.discription2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 40px;
    width: 320px;
}
.discription2 ul {
    margin-left: 20px;
}
.discription2 ul li a:hover {
    box-shadow: 0 0 10px #95E1D3;
}
fieldset {
    display: flex;
    justify-content: space-around;
    width: 380px;
    height: 40px;
    border: none;
}
.email {
    width: 230px;
    height: auto;
    outline: none;
    border: 1px solid #999999;
    border-right: none;
    padding-left: 10px;
}
fieldset input:placeholder-shown {
    opacity: 0.4;
}
fieldset input:invalid {
    border-color: red;
}
.button {
    width: 150px;
    background-color: #95e1d3;
    border: none;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
}
.button:hover {
    color: #999999;
}
.button:active {
    background-color: #458377;
}
.block2 {
    width: 320px;
    display: flex;
    flex-direction: column;
 }
.blog a {
    display: block;
    width: 40px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 30px;
}
.blog a:link {
    color: black;
}
/* .insta a:visited {
    color: yellow;
} */
.blog a:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.insta a:active {
    text-decoration: underline;
}
.cell {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 30px;
}
.cell figure {
    width: 120px;
    height: 80px;
}
.cell figure img:hover {
    border: 3px solid #f38181;
}
.cell figure img:active {
    border: 3px solid orange;
}
.discription3 {
    display: flex;
    flex-direction: column;
}
.discription3 a {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 20px;
}
.discription3 a:link {
    color: black;
}
/* .discription3 a:visited {
    color: yellow;
} */
.discription3 a:hover {
    color: #f38181;
}
.discription3 a:active {
    color: orange;
}
time {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 100;
    margin-top: 12px;
    margin-left: 20px;
}
.block3 {
    width: 270px;
    margin-left: 100px;
}
.insta a {
    display: block;
    width: 70px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.insta a:link {
    color: black;
}
/* .insta a:visited {
    color: yellow;
} */
.insta a:hover {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.insta a:active {
    text-decoration: underline;
}
.instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.photo {
    margin-top: -5px;
    margin-bottom: -5px;
}
.picture div {
    border: 1px solid white;
}
.picture a img:hover {
    border: 3px solid #f38181;
}
.picture a img:active {
    border: 3px solid orange;
}
.photos {
    margin-top: 22px;
}
.photos a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    color: black;
}
.photos a:link {
    color: black;
}
/* .photos a:visited {
    color: yellow;
} */
.photos a:hover {
    color: #95e1d3;
}
.photos a:active {
    text-decoration: underline;
}
.icon {
    width: 100%;
    height: 30px;
    display: block;
    text-align: center;
}
.icon hr {
    margin-top: 70px;
}
.icon p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
.icon p a {
    color: black;
}
.icon p::before {
    content: "\00A9";
}
.icon p a:last-child:link {
    color: black;
}
/* .icon p a:last-child:visited {
    color: yellow;
} */
.icon p a:last-child:hover {
    color: #f38181;
}
.icon p a:last-child:active {
    color: rgb(39, 231, 39);
}
